<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Display</title>
    </head>
    <body>
        <h1>Filename: {{file}}</h1>
        <h1>Contents: </h1>
        <p>{{contents}}</p>
    </body>
</html>
